.variant-table input {
    padding: 1px 0.5rem !important;
    font-size: small !important;
}

.variant-table td {
    height: 32.5px !important;
    line-height: 23.5px;
}

.hstack {
    height: 23.5px;
}