@import "~bootstrap/scss/bootstrap";
@import "custom.scss";

.App {
    text-align: center;
}

.nav-item>.dropdown-menu {
    overflow-y: auto;
    max-height: 50vh;
}

// list group with scrolling
.list-group {
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

// global settings
.no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /*-khtml-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

// fixing nav dropdown scrollbar bug (firefox)
.dropdown-item{
    padding-right: 2rem !important;
}

.main {
    height: calc(100vh - 1rem - 40px);
    margin-top: calc(1rem + 40px);
    overflow: hidden;
}

// form validation settings
.form-control.no-validation {
    border: 1px solid #ced4da !important;
    background-image: none !important;
    padding-right: 0.5rem !important;
}

// table with row hover
table.table-hover tbody tr {
    cursor: pointer;
}

/* table with fixed header
 * https://www.w3docs.com/snippets/html/how-to-create-a-table-with-a-fixed-header-and-scrollable-body.html */

.table-fixed {
    font-size: small;
    table-layout: fixed;
    //position: relative;
    //display: table;
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 2px solid black;
}

.table-fixed tbody {
    display: block;
    width: 100%;
    overflow: auto;
}

.table-fixed thead tr {
    display: block;
}

.table-fixed th,
.table-fixed td {
    text-align: left;
    width: 300px;
}

.table-fixed th {
    border-bottom-width: 0px;
}

// still needed??
.accordion-button.collapsed {
    background-color: #e9ecef;
}

// from template
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}